{% extends "_includes/default.njk" %}

{% block title %}It works!{% endblock %}

{% block content %}
<div class>
    <div class="fixed inset-0 flex justify-center items-center">
        <span class="text-change">Good design</span><br/>
        <span class="change">is<br/>as little design<br/>as possible</span>
    </div>
</div>
{% endblock %}
