<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="{{ static/css/style.css }}">
    </head>
    <body>
        <h1>{{ meta.name }}</h1>
        {% include "partials/header.njk" %}
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% include "partials/footer.njk" %}
    </body>
</html>